.birth_field {
    /* limit birth day and month to two character width */
    width: 50px !important;
    margin-right: 5px;
}

.col.s12 > .btn {
    /* full width button */
    width: 100%;
 }

textarea {
    /* text area in contact us page */
    height: 350px;
}

.img_push {
    /* logo in nav-bar */
    padding-left: 5px;
    padding-top: 3px;
}

.backdrop{
    background-color: #342486;
  }

/* https://blog.hubspot.com/website/how-to-embed-google-map-in-html */
.google-map {
    padding-bottom: 50%; /* this sets the heigh of the map */
    position: relative;
}

.google-map iframe {
    /* map is responsive */
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}
